@import "../variables";

.content {
  max-width: 1440px;
  margin: 0 auto;
  background-color: $white;

  .header {
    padding-top: 40px;
    margin: 0 50px 0 100px;

    &-content {
      width: 93%;

      &-navigation {
        width: 45%;

        &-item {
          padding: 0 20px;
          @include text-with-spacing($dark-grey, 900);
        }
      }

      &-cover {
        margin-top: 30px;
        position: relative;

        &-image {
          width: 87%;

          img {
            width:100%;
            box-shadow: -6px 19px 61px 2px $shadow-color;
          }
        }

        &-description {
          position: absolute;
          top: 35%;
          left: 0;

          .description-title {
            @include text-styles($dark-grey, 62px, 700, $playfair-font);
          }

          .description-text {
            @include text-styles($grey, 14px, 400, $poppins-font);
          }
        }
      }

      .page {
        width: 13%;
      }
    }

    &-links {
      width: 5%;
      margin-left: 2%;

      &-items {
        padding: 40px 0;
        transform: rotate(-90deg);
        @include text-with-spacing($light-grey, 900);
      }

      &-icons {
        width: 18px;
        height: 18px;
        margin-top: 35px;
      }
    }
  }

  .medias-section {
    margin-top: 150px;

    &-title {
      padding: 0 10px;
      text-align: center;
      @include text-styles($dark-grey, 26px, 400, $playfair-font);
    }

    &-wrapper {
      margin-left: 100px;
      position: relative;

      &-image {
        width: 46%;

        img {
          width: 100%;
        }

        &-description {
          margin-left: 100px;

          &-text {
            margin: 50px 0;
            @include text-styles($grey, 14px, 400, $poppins-font);
          }
        }
      }

      &-video {
        top: 0;
        width: 50%;
        right: 10%;
        height: 550px;
        position: absolute;
      }
    }
  }

  .slider-section {
    opacity: 0.5;
    height: 750px;
    margin-top: -50px;
    background-image: url("/images/slider-bg.png");
  }
}
