@import "../variables";
@import "../fonts";

//styles for join-club section

.join-club {
  margin-top: -120px;
  background-size: cover;
  background-position: center;
  background-repeat-y: no-repeat;
  background-image: url("/images/join-bg.png");
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);

  .join-form {
    padding: 120px 0;

    &-title {
      color: $dark-grey;
      font: 700 2.7rem $playfair-font;
    }

    &-description {
      color: $grey;
      margin: 20px 5px;
      text-align: center;
      font: 400 0.9rem $poppins-font;
    }

    &-wrapper {
      width: 40%;
      position: relative;

      .join-form-input {
        width: 100%;
        height: 50px;
        padding-left: 20px;
        background-color: $input-bg-color;
        border: 1px solid $input-bg-color;
      }

      .join-form-button {
        top: 0;
        width: 50px;
        height: 100%;
        right: -21px;
        position: absolute;
        background-color: $light-blue;
        border: 1px solid $light-blue;
      }
    }
  }

  &-content {
    .image-wrapper {
      width: 50%;
    }

    .image-description {

      .description-title {
        margin: 40px;
        color: $dark-grey;
        font: 700 2rem $playfair-font;
      }
    }
  }
}

