@import "../variables";

// styles for medias section (1)

.medias-section {
  margin-top: 150px;

  &-title {
    padding: 0 10px;
    text-align: center;
    @include text-styles($dark-grey, 26px, 400, $playfair-font);
  }

  &-wrapper {
    margin-left: 100px;
    position: relative;

    &-image {
      width: 46%;

      img {
        width: 100%;
      }

      &-description {
        margin-left: 100px;

        &-text {
          margin: 50px 0;
          @include text-styles($grey, 14px, 400, $poppins-font);
        }
      }
    }

    &-video {
      top: 0;
      width: 50%;
      right: 10%;
      height: 550px;
      position: absolute;
    }
  }
}

// styles for slider section (2)

.slider-section {
  margin-top: -50px;
  background-size: 70%;
  background-repeat-y: no-repeat;
  background-image: url("/images/slider-bg.png");
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);

  &-title {
    padding-top: 220px;

    &-text {
      @include text-styles($dark-grey, 42px, 700, $playfair-font);
    }
  }

  &-content {
    margin-top: 150px;
    margin-bottom: 70px;
    justify-content: flex-start;

    &-item {
      width: 250px;
      height: 320px;
      margin-left: 170px;
      position: relative;
      background-color: $light-grey;

      &-wrapper {
        left: 25%;
        bottom: 8%;
        width: 330px;
        position: absolute;

        .item-description {
          margin-top: 30px;

          &-title {
            @include text-styles($dark-grey, 26px, 400, $playfair-font);
          }

          &-price {
            margin-top: 20px;
            @include text-styles($light-pink, 20px, 400, $poppins-font);
          }
        }
      }
    }
  }
}

// styles for training section (3)

.training-section {
  margin: 170px 0 120px 180px;

  &-first {
    margin-bottom: 120px;

    .training-title {
      background-image: url("/images/01@1X.png");
    }

  }

  &-second {
    .training-title {
      background-image: url("/images/02@1X.png");
    }

    .training-description {
      width: 59%;
    }
  }

  .training-title {
    height: 110px;
    background-repeat: no-repeat;

    &-text {
      @include text-styles($dark-grey, 42px, 700, $playfair-font);
    }
  }

  .title-border {
    width: 25px;
    height: 2px;
    margin: 18px 0 30px 0;
    background-color: $light-blue;
  }

  .training-description {
    line-height: 25px;
    margin-bottom: 70px;
    @include text-styles($grey, 14px, 400, $poppins-font);
  }

  .rotated-text {
    width: 100px;
    height: 100px;
    color: $light-grey;
    transform: rotate(-90deg);
  }
}

