@import "../variables";
@import "../fonts";



// styles for slider section (2)

.slider-section {
  margin-top: -50px;
  background-size: 70%;
  background-repeat-y: no-repeat;
  background-image: url("/images/slider-bg.png");
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);

  &-title {
    padding-top: 220px;

    &-text {
      color: $dark-grey;
      font: 700 2.7rem $playfair-font;
    }
  }

  &-content {
    margin-bottom: 70px;

    .slider {
      height: auto;
      display: flex;
      overflow-x: hidden;
    }

    .slide {
      flex-shrink: 0;
      height: 100%;
    }

    .jumping-links {
      width: 150px;
      margin: 30px auto 0 auto;

      li {
        width: 20px;
        padding: 5px;
        border-radius: 50%;
        text-align: center;
        background-color: $light-grey;
      }
    }

    &-item {
      width: 250px;
      height: 320px;
      position: relative;
      margin: 150px auto 0 auto;
      background-color: $light-grey;

      &-wrapper {
        left: 25%;
        bottom: 8%;
        width: 330px;
        position: absolute;

        .item-description {
          margin-top: 30px;

          &-title {
            color: $dark-grey;
            font: 400 1.7rem $playfair-font;
          }

          &-price {
            margin-top: 20px;
            color: $light-pink;
            font: 400 1.25rem $poppins-font;
          }
        }
      }
    }
  }
}

// styles for training section (3)

.training-section {
  margin: 170px 0 0 180px;

  &-wrapper {
    width: 40%;
  }

  &-first {
    margin: 0 100px 120px 0;

    .rotated-text {
      top: 10%;
      right: -5%;
      color: $light-grey;
      transform: rotate(-90deg);
    }

    .training-title {
      background-image: url("/images/01@1X.png");
    }
  }

  &-second {
    .image-wrapper {
      padding-left: 100px;

      .rotated-text {
        top: 9%;
        left: 10%;
        color: $light-grey;
        transform: rotate(-90deg);
      }
    }

    .training-title {
      background-image: url("/images/02@1X.png");
    }

    .training-description {
      width: 59%;
    }
  }

  .training-title {
    height: 110px;
    position: relative;
    background-repeat: no-repeat;

    &-text {
      bottom: 0;
      color: $dark-grey;
      position: absolute;
      font: 700 2.7rem $playfair-font;
    }
  }

  .title-border {
    width: 25px;
    height: 2px;
    margin: 18px 0 30px 0;
    background-color: $light-blue;
  }

  .training-description {
    color: $grey;
    line-height: 25px;
    margin-bottom: 70px;
    font: 400 0.9rem $poppins-font;
  }
}

//styles for join-club section

.join-club-section {
  margin-top: -120px;
  background-size: cover;
  background-position: center;
  background-repeat-y: no-repeat;
  background-image: url("/images/join-bg.png");
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);

  .join-form {
    padding: 120px 0;

    &-title {
      color: $dark-grey;
      font: 700 2.7rem $playfair-font;
    }

    &-description {
      color: $grey;
      margin: 20px 0;
      text-align: center;
      font: 400 0.9rem $poppins-font;
    }

    &-input-wrapper {
      width: 40%;
      position: relative;

      .join-form-input {
        width: 100%;
        height: 50px;
        padding-left: 20px;
        background-color: $input-bg-color;
        border: 1px solid $input-bg-color;
      }

      .join-form-button {
        top: 0;
        width: 50px;
        height: 100%;
        right: -21px;
        position: absolute;
        background-color: $light-blue;
        border: 1px solid $light-blue;
      }
    }
  }

  &-content {
    .join-image-wrapper {
      width: 50%;
    }

    .join-image-description {

      &-title {
        margin: 40px;
        color: $dark-grey;
        font: 700 2rem $playfair-font;
      }
    }
  }
}

