@media (max-width: 768px) {
  .content {

    //header section styles

    .header {
      margin: 0 30px;

      &-content {
        width: 100%;

        &-cover {
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &-image {
            width: 100%;
          }

          &-description {
            position: static;
            margin-top: 20px;

            .description-title {
              font-size: 45px;
            }
          }
        }

        .page {
          display: none;
        }
      }

      &-links {
        display: none;
      }

      &-content-navigation {
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .header-menu-wrapper {
          display: block;
        }

        &-wrapper {
          display: none;
        }
      }
    }

    //training section styles

    .training-section {

      &-wrapper {
        width: 100%;
        margin-left: 20px;
        margin-bottom: 50px;
      }

      &-first {
        flex-direction: column;

        .training-description {
          padding-right: 20px;
        }
      }

      &-second {
        flex-direction: column;

        .image-wrapper {
          order: 2;
        }

        .training-description {
          width: 90%;
        }
      }
    }

    //join-club section styles

    .join-club-section {

      .join-form-input-wrapper {
        width: 83%;
      }

      &-content {
        flex-direction: column;

        .join-image-wrapper {
          width: 100%;

          figure {
            margin-left: 0;
            margin-right: 0;
          }
        }

        .join-image-description {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 30px 0;

          &-title {
            margin-right: 0;
          }
        }
      }
    }

    // footer section styles

    .footer-wrapper {

      .footer-content-navigation-item {
        padding: 0 10px;
      }
    }
  }
}
