@media (max-width: 768px) {

  //header section styles

  .header {

    &-content {
      width: 100%;

      &-cover {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &-image {
        width: 100%;
      }

      &-description {
        position: static;
        margin-top: 20px;

        .description-title {
          font-size: 2.8rem;
        }
      }

      .page {
        display: none;
      }
    }

    &-links {
      display: none;
    }

    &-navigation {
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .menu-wrapper {
        display: block;
      }

      &-content {
        display: none;
      }
    }
  }

  //medias section styles

  .media {
    margin-top: 30px;
  }

  //slider section styles

  .slider-section-content-item {
    background-color: transparent;

    &-wrapper {
      left: 0;
      width: 295px;
    }
  }

  //training section styles

  .training-section {
    margin-top: 70px;

    &-wrapper {
      width: 100%;
      margin-left: 20px;
      margin-bottom: 50px;
    }

    &-first {
      flex-direction: column;

      .training-description {
        padding-right: 20px;
      }
    }

    &-second {
      flex-direction: column;

      .image-wrapper {
        order: 2;
      }

      .training-description {
        width: 90%;
      }
    }
  }

  //join-club section styles

  .join-club-section {

    .join-form-input-wrapper {
      width: 83%;
    }

    &-content {
      flex-direction: column;

      .join-image-wrapper {
        width: 100%;

        figure {
          margin-left: 0;
          margin-right: 0;
        }
      }

      .join-image-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0;

        &-title {
          margin-right: 0;
        }
      }
    }
  }

  // footer section styles

  .footer {
    padding: 50px 0;

    .footer-navigation-item {
      padding: 0 10px;
    }
  }
}


