@import "variables";
@import "./mixins";

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-end {
  justify-content: flex-end;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.blue-small-text {
  display: block;
  @include text-with-spacing($light-blue, 900);
}

.dark-small-text {
  display: block;
  @include text-with-spacing($dark-grey, 900);
}
