@import "./variables.scss";

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

ul {
  list-style: none;
  padding-left: 0;
}
