@import "variables";
@import "./mixins";

body {
  margin: 0;
  background-color: $black;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

.justify-end {
  justify-content: flex-end;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

figure {
  margin-top: 0;
  margin-bottom: 0;
}

.blue-small-text {
  @include text-with-spacing($light-blue, 900);
}

.dark-small-text {
  @include text-with-spacing($dark-grey, 900);
}

.grey-small-text {
  @include text-with-spacing($grey, 700);
}


//base styles for header dropdowns

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  z-index: 1;
  display: none;
  min-width: 110px;
  position: absolute;
  background-color: $white;
  box-shadow: 0 8px 16px 0 $shadow-color;
}

.dropdown-content a {
  padding: 12px;
  display: block;
  color: $dark-grey;
  letter-spacing: 2px;
}

.dropdown-content a:hover {background-color: $light-grey}

.dropdown:hover .dropdown-content {
  display: block;
}
//

.vertical-line {
  width: 2px;
  height: 100px;
  margin: 60px 0;
  background-color: $light-blue;
}

.underlined-link {
  padding-bottom: 10px;
  text-decoration: none;
  border-bottom: 2px solid $light-blue;
}
