@mixin text-styles ($color, $font-size, $font-weight, $font-family) {
  color: $color;
  font: $font-weight $font-size $font-family;
}

@mixin text-with-spacing ($color, $font-weight) {
  letter-spacing: 4px;
  text-transform: uppercase;
  @include text-styles($color, 9px, $font-weight, $roboto-font);
}
